.heading {
    font-size:23px;
    margin:0;
    width:100%;
    box-shadow:5px 5px 5px grey;
}

.note {
    font-size:14px;
    color:white;
}

#copyright_div {
    background:grey;
    width:100%;
    bottom:0;
    line-height:3;
    color:white;
    position:fixed;
    text-align:center;
}

canvas {
    box-shadow:5px 5px 5px grey;
    margin-top:100px;
    animation-name: cane;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes cane {
    from{border:double red 3px;}
    to{border:double darkcyan 3px;}
}